
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: center;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 16px;
}
#content main .table-data .order table tr td:first-child {
	
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}

#tb td {
    text-align:center ;
}
th {
    text-align:left ;
}

.edit-button, .delete-button, .detail-button {
	border: none;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 2px 1px;
	border-radius: 12px;
	cursor: pointer;
}

.edit-button {
	background-color: #4CAF50; 
}
.detail-button {
	background-color: blue; 
}
.delete-button {
	background-color: #f44336; 
}
.edit-button:hover {
	background-color: white;
	color: #4CAF50;
}
.delete-button:hover {
	background-color: white;
	color: #f44336;
}
.detail-button {
	background-color: rgb(65, 168, 223); 
}
.detail-button:hover {
	background-color: white;
	color: rgb(65, 168, 223);
}
 #add-button {
	border: none;
	color: white;
    border-radius: 12px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 14px;
	margin: 2px 1px;
	margin-bottom: 20px;
	margin-top: 0px;
	cursor: pointer;
	background-color: #008CBA; 
	transition-duration: 0.4s;
}

#add-button:hover {
	background-color: #006699; 
} 
#add-button a {
    color: white;
}
